<div class="d-flex flex-column p-3 text-white bg-dark">

  <ul class="nav nav-pills flex-column mb-auto">
   
    <li>
      <a routerLink="/productsPage" class="nav-link text-white">
        Ürünler
      </a>
    </li>
    <li>
      <a routerLink="/productCategories" class="nav-link text-white">
        Ürün kategorisi
      </a>
    </li>
  
    <li>
      <a routerLink="/userAdd" class="nav-link text-white">
       Kullanıcı 
      </a>
    </li>
    <li>
      <a routerLink="/contacts" class="nav-link text-white">
       İletişime Geçenler 
      </a>
    </li>
  </ul>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
   
    <li>
      <a routerLink="/sliderContent" class="nav-link text-white">
        Anasayfa / Kayan Resimler
      </a>
    </li>
    <li>
      <a routerLink="/mainPageBigText" class="nav-link text-white">
        Anasayfa / Büyük Yazılar
      </a>
    </li>
    
    <li>
      <a routerLink="/mainPageSmallText" class="nav-link text-white">
        Anasayfa / Küçük Yazılar
      </a>
    </li>
    <li>
      <a routerLink="/subImages" class="nav-link text-white">
        Anasayfa / Alt Resimler
      </a>
    </li>
    <li>
      <a routerLink="/abouts" class="nav-link text-white">
       Hakkımızda /
      </a>
    </li>
  </ul>
</div>