<div class="row text-center">
    <div class="col-md-12">
        <div class="text-center mt-2">
            <h1>Kumaş Çeşitleri</h1>
        </div>
        <button type="button"data-bs-toggle="modal" data-bs-target="#exampleModal" class="mt-3 btn btn-outline-success">H&#160;ı&#160;z&#160;l&#160;ı&#160;&#160;
            S&#160;i&#160;p&#160;a&#160;r&#160;i&#160;ş&#160;&#160; İ&#160;ç&#160;i&#160;n&#160;&#160;
            T&#160;ı&#160;k&#160;l&#160;a&#160;y&#160;ı&#160;n&#160;.. </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bizimle iletişime geç</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
<app-footer-contact></app-footer-contact>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>



        <div class="komp">
            <div class="row">
                
                <div class="col-md-4 yandan">
                    <div class="d-flex justify-content-center  ">
                        <div class="card">
                            <div class="face face1">
                                <div class="content">
                                    <h3>&#10003;SÜPREM</h3>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>&#10003; 20/1 SÜPREM <br>
                                        &#10003; 24/1 SÜPREM<br>
                                        &#10003; 26/1 SÜPREM<br>
                                        &#10003; 28/1 SÜPREM<br>
                                        &#10003; 30/1 SÜPREM<br>
                                        &#10003; 36/1 SÜPREM<br>
                                        &#10003; 40/1 SÜPREM<br>
                                        &#10003; 50/1 SÜPREM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 ustten">
                    <div class="d-flex justify-content-center ">
                        <div class="card">
                            <div class="face face1">
                                <div class="content">
                              
                                    <h3>&#10003;DÜZ İKİ İPLİK</h3>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>&#10003;20/10 İKİ İPLİK <br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-4 sagdan">
                    <div class="d-flex justify-content-center  ">
                        <div class="card">
                            <div class="face face1">
                                <div class="content">
                                  
                                    <h3>&#10003;LİCRALI İKİ İPLİK</h3>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>&#10003; 30/100 LİCRALI İKİ İPLİK <br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 yandan">
                    <div class="d-flex justify-content-center  ">
                        <div class="card">
                            <div class="face face1">
                                <div class="content">
                                
                                    <h3>&#10003;SÜPREM</h3>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>&#10003; 20/1 SÜPREM <br>
                                        &#10003; 24/1 SÜPREM<br>
                                        &#10003; 26/1 SÜPREM<br>
                                        &#10003; 28/1 SÜPREM<br>
                                        &#10003; 30/1 SÜPREM<br>
                                        &#10003; 36/1 SÜPREM<br>
                                        &#10003; 40/1 SÜPREM<br>
                                        &#10003; 50/1 SÜPREM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 ustten">
                    <div class="d-flex justify-content-center ">
                        <div class="card">
                            <div class="face face1">
                                <div class="content">
                                  
                                    <h3>&#10003;DÜZ İKİ İPLİK</h3>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>&#10003;20/10 İKİ İPLİK <br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-4 sagdan">
                    <div class="d-flex justify-content-center  ">
                        <div class="card">
                            <div class="face face1">
                                <div class="content">
                                  
                                    <h3>&#10003;LİCRALI İKİ İPLİK</h3>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>&#10003; 30/100 LİCRALI İKİ İPLİK <br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 yandan">
                    <div class="d-flex justify-content-center  ">
                        <div class="card">
                            <div class="face face1">
                                <div class="content">
                                 
                                    <h3>&#10003;SÜPREM</h3>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>&#10003; 20/1 SÜPREM <br>
                                        &#10003; 24/1 SÜPREM<br>
                                        &#10003; 26/1 SÜPREM<br>
                                        &#10003; 28/1 SÜPREM<br>
                                        &#10003; 30/1 SÜPREM<br>
                                        &#10003; 36/1 SÜPREM<br>
                                        &#10003; 40/1 SÜPREM<br>
                                        &#10003; 50/1 SÜPREM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 ustten">
                    <div class="d-flex justify-content-center ">
                        <div class="card">
                            <div class="face face1">
                                <div class="content">
                                  
                                    <h3>&#10003;DÜZ İKİ İPLİK</h3>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>&#10003;20/10 İKİ İPLİK <br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-4 sagdan">
                    <div class="d-flex justify-content-center  ">
                        <div class="card">
                            <div class="face face1">
                                <div class="content">
                                  
                                    <h3>&#10003;LİCRALI İKİ İPLİK</h3>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>&#10003; 30/100 LİCRALI İKİ İPLİK <br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>