<div class="row">
    <app-header></app-header>
</div>
<div class="row">
    <div class="col-md-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10 mt-5">
        <div class="col-md-6">
            <p>
                <button class="btn btn-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Alt Resim Ekle
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">

                    <div class="mbottom">
                        <h2>Alt Resim Ekle </h2>
                        <div class="card border-success rounded-0"></div>
                        <br>
                    </div>
                    <form [formGroup]="subImagesAdd">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" id="subImageTitle" formControlName="title"
                                        class="form-control input-lg" placeholder="Başlık *" required="" value=""><br>
                                </div>
                                <div class="col-md-8">
                                    <textarea type="text" id="subImageText" formControlName="content" rows="3"
                                        class="form-control input-lg" placeholder="İçerik *" required=""
                                        value=""></textarea><br>
                                </div>
                                <div class="col-md-12">
                                    <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                                    <br>
                                </div>
                                
                            </div><br>

                        </div>
                        <button type="submit" class="btn   btn-success" (click)="add()">Ekle</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <p>
                <button class="btn btn-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                    Alt Resim Sil 
                </button>
            </p>
            <div class="collapse" id="collapseExample1">
                <div class="card card-body">

                    <div class="mbottom">
                        <h2>Alt Resim Sil </h2>
                        <div class="card border-success rounded-0"></div>
                        <br>
                    </div>

                    <form [formGroup]="subDelete" *ngFor="let subs of sub">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" formControlName="id" class="form-control input-lg" placeholder=""
                                        required="" readonly><br>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" formControlName="titleBack" class="form-control input-lg"
                                        placeholder="" required="" readonly><br>
                                </div>
                                <div class="col-md-8">
                                    <textarea type="text" formControlName="contentBack" rows="3"
                                        class="form-control input-lg" placeholder="" required=""
                                        readonly></textarea>
                                </div>
                            </div><br>

                        </div>
                        <button type="submit" class="btn btn-success" (click)="delete()">Sil</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>