<div class="row">
    <app-header></app-header>
</div>
<div class="row">
    <div class="col-md-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10 mt-5">
        <div class="col-md-6">
            <p>
                <button class="btn btn-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Kullanıcı Ekle
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">

                    <div class="mbottom">
                        <h2>Kullanıcı Ekle </h2>
                        <div class="card border-success rounded-0"></div>
                        <br>
                    </div>
                    <form [formGroup]="UserAdd">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" id="username" formControlName="username"
                                        class="form-control input-lg" placeholder="Kullanıcı adı *" required="" value=""><br>
                                </div>
                                <div class="col-md-8">
                                    <input type="password" id="password" formControlName="password"
                                    class="form-control input-lg" placeholder="Şifre *" required="" value=""><br>
                            
                                </div>
                            </div><br>

                        </div>
                        <button type="submit" class="btn   btn-success" (click)="add()">Ekle</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p>
                <button class="btn btn-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                    Kullanıcı Sil
                </button>
            </p>
            <div class="collapse" id="collapseExample1">
                <div class="card card-body">

                    <div class="mbottom">
                        <h2>Kullanıcı Sil </h2>
                        <div class="card border-success rounded-0"></div>
                        <br>
                    </div>

                    <form [formGroup]="UserDelete" *ngFor="let users of user">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" id="username" formControlName="username"
                                        class="form-control input-lg" placeholder="Kullanıcı adı *" required="" value=""><br>
                                </div>
                            </div><br>

                        </div>
                        <button type="submit" class="btn btn-success" (click)="delete()">Sil</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>