<div class="categories">
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-outline-primary">Primary</button><br>
    <button type="button" class="btn btn-outline-secondary">Secondary</button><br>
  <button type="button" class="btn btn-outline-success">Success</button><br>
  <button type="button" class="btn btn-outline-danger">Danger</button><br>
  <button type="button" class="btn btn-outline-warning">Warning</button><br>
  <button type="button" class="btn btn-outline-info">Info</button><br>
  <button type="button" class="btn btn-outline-dark">Dark</button>
   
    
  
  
  </div>