<div class="row">
    <app-header></app-header>
</div>
<div class="row">
    <div class="col-md-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10 mt-5">
        <div class="row">
            <div class="col-md-6">
                <p>
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Küçük Yazı Ekle
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">

                        <div class="mbottom">
                            <h2>Küçük Yazı Ekle </h2>
                            <div class="card border-success rounded-0"></div>
                            <br>
                        </div>
                        <form [formGroup]="smallTextAdd">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" id="smalltextTitle" formControlName="title"
                                            class="form-control input-lg" placeholder="Başlık *" required=""
                                            value=""><br>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea type="text" id="smalltextContent" formControlName="content" rows="3"
                                            class="form-control input-lg" placeholder="İçerik *" required=""
                                            value=""></textarea>
                                    </div>
                                </div><br>

                            </div>
                            <button type="submit" class="btn   btn-success" (click)="add()">Ekle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <p>
                <button class="btn btn-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                    Küçük Yazı Sil
                </button>
            </p>
            <div class="collapse" id="collapseExample1">
                <div class="card card-body">

                    <div class="mbottom">
                        <h2>Küçük Yazı Sil </h2>
                        <div class="card border-success rounded-0"></div>
                        <br>
                    </div>

                    <form [formGroup]="smallTextDelete" *ngFor="let smallTexts of smallText">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" formControlName="id" class="form-control input-lg" placeholder=""
                                        required="" readonly><br>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" formControlName="titleBack" class="form-control input-lg"
                                        placeholder="" required="" readonly><br>
                                </div>
                                <div class="col-md-8">
                                    <textarea type="text" formControlName="contentBack" rows="3"
                                        class="form-control input-lg" placeholder="" required=""
                                        readonly></textarea>
                                </div>
                            </div><br>

                        </div>
                        <button type="submit" class="btn btn-success" (click)="delete()">Sil</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>