<div class="social-buttons">
  <ul class="navbar-nav">
    <li><a href="#" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
        <span class="social-button__inner">
          <i class="fa fa-facebook-f"></i>
        </span>
      </a></li>
    <li> <a href="#" class="social-buttons__button social-button social-button--mail" aria-label="Mail">
        <span class="social-button__inner">
          <i class="fa fa-envelope"></i>
        </span>
      </a></li>
    <li> <a href="#" class="social-buttons__button social-button social-button--instagram" aria-label="Instagram">
        <span class="social-button__inner">
          <i class="fa fa-instagram"></i>
        </span>
      </a></li>
  </ul>
</div>