<div class="contact container-fluid " id="contant">
    <div class="container">
        <div class="row">


            <div class="col-md-6 iletisimbilgi">
                <h2> İletişim Bilgilerimiz </h2>
                <div class="card border-dark"></div>
                <br>
                <br>
                <table class="mtop">
                    <tbody>
                        <tr>
                            <td><strong> Adres: </strong></td>
                            <td>İstanbul-Bahçelievler
                            </td>
                        </tr>
                        <tr>
                            <td><strong> Telefon: </strong></td>
                            <td>+90 422 341 06 60- 4602</td>
                        </tr>
                        <tr>
                            <td><strong>Fax: </strong></td>
                            <td>+90 422 341 39 28</td>
                        </tr>
                        <tr>
                            <td><strong>E-Mail: </strong></td>
                            <td>loopus@loopuscollection.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <div class="contactform">
                    <div class="mbottom">


                        <h2> Bizimle İletişime Geçin! </h2>
                        <div class="card border-dark rounded-0"></div>

                        <p> Soru, görüş ve önerileriniz için bilgilerinizi bırakın biz sizi arayalım. </p>
                    </div>
                    <form [formGroup]="contactForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" formControlName="name" class="form-control input-lg" placeholder="Adınız *" required=""
                                        value="">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" formControlName="surname" class="form-control input-lg" placeholder="Soyadınız *"
                                        required="" value="">
                                </div>

                            </div><br>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="email" name="email"  formControlName="eMail" placeholder="E-Posta *" required=""
                                        class="form-control input-lg" value="">
                                </div>
                                <div class="col-md-6">
                                    <input type="tel" name="tel" formControlName="telephone" placeholder="Telefon *" required=""
                                        class="form-control input-lg" value="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea class="form-control" formControlName="content" rows="3" cols="80"
                                        placeholder="Mesajınız *"></textarea>
                                    <br>
                                </div>
                            </div>
                        </div><button type="submit" (click)="add()" class="btn btn-dark">GÖNDER</button>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>